/*
SPACING SYSTEM (px)
2 / 4/ 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/*https://yeun.github.io/open-color/*/
/*https://fonts.google.com/*/

/* Resets the Default settings*/
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; */
/* background-color: #495057; */
/* } */

/* MAIN COLOR: #a5d8ff BLUE CATEGORY
GREY COLOR: #495057 */

/* Text and the search bar for the stock look up */
.wholebar {
  padding-top: 100px;
  padding-left: 100px;
}

/* The searchbar */
.searchbar {
  padding-top: 10px;
}

/* The search bar text */
.searchtext {
  padding-left: 33px;
  /* font-family: sans-serif; */
  font-family: "Rubik", sans-serif;
  color: #a5d8ff;
}

/* The Search bar display */
.round {
  width: 100%;
  border-radius: 15px;
  border: 1px #a5d8ff solid;
  padding: 5px 5px 5px 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

/* Search bar dimentions */
.search {
  position: relative;
  width: 300px;
  height: 50px;
}
